<% include util %>
<%
  this.title = post.title;
%>
<% include header %>
<div class="row">
    <div class="column">
      <div class="ui buttons">
        <div class="ui buttons right floated">
          <% if (post.allowedEdit) { %>
            <a class="small ui button" href="<%= zoj.utils.makeUrl(['blog', post.id, 'edit']) %>">编辑</a>
            <% if (post.is_public) {  %>
              <a class="small ui button" id="dis_public" href="<%= zoj.utils.makeUrl(['blog', post.id, 'dis_public']) %>">取消公开</a>
            <% } else { %>
              <a class="small ui button" id="public" href="<%= zoj.utils.makeUrl(['blog', post.id, 'public']) %>">公开</a>
            <% } %>
            <div class="ui basic modal" id="modal-delete">
              <div class="ui icon header">
                <i class="trash icon"></i>
                <p style="margin-top: 15px; ">删除题目</p>
              </div>
              <div class="content" style="text-align: center; ">
                <p>确认删除此题目吗？提交记录、讨论以及测试数据将一并删除。<br>
                删除题目导致的修改用户提交、通过数量可能会耗费一些时间。</p>
                <b>警告：删除比赛中的题目会导致系统错乱！请确认没有比赛使用此题目。</b>
              </div>
              <div class="actions">
                <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  否
                </div>
                <a class="ui green ok inverted button" href="<%= zoj.utils.makeUrl(['post', post.id, 'delete']) %>">
                  <i class="checkmark icon"></i>
                  是
                </a>
              </div>
            </div>
            <div class="small ui red button" onclick="$('#modal-delete').modal('show')">删除</div>
          <% } %>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="ui bottom attached segment font-content"><%- post.content %></div>
    </div>
  </div>
</div>

<% include footer %>
